 <!doctype html>
 <html>

   <head>
    
      <meta charset="utf-8"/>
      <meta name="description" content="Resumen del contenido de la página">   
      <title>Monitor Camera</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


      <style type="text/css">
        código CSS
        
        div.container {
width: 96%;
max-width: 960px;
margin: 0 auto;
}
img {
width: 100%;
height: auto;
}

.chat-container {
  width: 350px;
  height: 560px;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.chat-messages {
  height: 350px;
  overflow-y: scroll;
  padding: 20px;
}

.message-container {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sender {
  font-weight: bold;
  color: #333;
}

.chat-input {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #555;
}

.code {
  background-color: #333;
  color: #fff;
  padding: 5px;
  font-family: monospace;
}
      	  código CSS 
      </style>
      <script type="text/javascript">
      	  código javaScript 
      	  código javaScript 
      </script>
      <script type="text/javascript" src="/"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

   <body>
